* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainOrange: #f15025;
  --mainYellow: #d2aa5c;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(0, 0, 0);
  background: white;
}
